<meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="col-xs-6 col-sm-3">
  <div class="background-image">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <span><a href="/" class="style"><i class="fa fa-home"></i></a></span>
        <a mat-button class="button"routerLink="/register">Sign Up</a>
        <a mat-button class="button" routerLink="/login">Login</a>
        <a mat-button class="button" routerLink="/admin">Admin</a>
        <span class="spacer"></span><span></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
  </div>
